.loading-screen__container {
  width: 100%;
  height: calc(100vh - var(--height-navbar));

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen__box {
  width: 10rem;
  height: 10rem;

  background-color: white;
  border-radius: .5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px 2px 0 #999999;

  font-size: 1.25rem;
  font-weight: 400;
}