.menu {
  display: flex;
  gap: 1rem;
}

.menu__item {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text);
  cursor: pointer;
  padding: .75rem 1rem;

  border-radius: .25rem;
  transition: all .3s .3s;
}

.menu__item:hover {
  transition: all .3s;
  background-color: var(--color-primary);
  color: white;
}

.menu__item--selected {
  position: relative;
}

.menu__item--selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 80%;
  margin: 0 10%;
  height: 4px;
  background-color: var(--color-primary);
  border-radius: 5rem;
}