.post-list-item {
  width: 40rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  line-height: 1.5rem;
}

.post-list-item__title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.post-list-item__text {
  text-align: justify;
}